.idea
.gitignore
db.sqlite3
*.pyc
log
config
*.yaml
*/migrations/*
!*/migrations/__init__.py
word/config.yaml
word_static/admin
word_static/mdeditor
word_static/rest_framework
word_media/*
*.log
*.pid