// 设置一个夜间模式的颜色
body{
    background: #181a1b;
  color: #fff;
}
.header{
  background-color: #13423b;
  font-weight: bold;
  height: 60px;
  align-items: center;
  font-style: italic;

  > div {
    height: 100%;
    font-size: 20px;
  }
  .row {
    height: 100%;

    .nav-link {
      color: #e39a64;
      line-height: 44px;
    }
    .nav-link:hover {
      color: #ea7a6d;
    }
  }
}