{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}
{% block css_file %}
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_4056627_pguw2l3vp0b.css">
    <link rel="stylesheet" href="{% static 'css/ebbinghaus/article.css' %}">
{% endblock %}

{% block main %}
    <div class="article container row mt-5 mx-auto">
        <div class="col-8">
            <div class="title">
                <h2 class="h2">{{ article.title }}</h2>
            </div>
            <div class="date d-flex">
                <div class="col-4">
                    创建日期：<span class="text-info">{{ date }}</span>
                </div>
                <div class="col-4">
                    上次阅读日期：<span class="text-info">{{ article.last_review }}</span>
                </div>
            </div>
            <div class="content">
                {{ article.content|safe }}
            </div>

            <div class="card word-card">
                <div class="card-header d-flex justify-content-between">
                    <div>bloc</div>
                    <div class="pronunciation d-flex">
                        <span>美 <i class="iconfont icon-fayin"></i></span>
                        <span>英 <i class="iconfont icon-fayin"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="web-word">Vision</div>
                            <div>视觉,愿景,视力</div>
                        </li>
                        <li class="list-group-item ">
                            <div class="web-word">Dolby Vision</div>
                            <div>杜比视界,杜比视觉,杜比视频高动态技术,杜比影像</div>
                        </li>
                        <li class="list-group-item">
                            <div class="web-word">Peripheral vision</div>
                            <div>外围视觉,周边视觉,周围视觉,边缘视觉</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 ps-4">
            其他文章
        </div>
    </div>

    <script>
        // 点击单词，显示单词的意思
        let words = document.querySelectorAll('.word');
        let article = document.querySelector('.article');
        let word_card = document.querySelector('.word-card');

        let article_position = article.getBoundingClientRect();
        words.forEach(function (word) {
            // 设置单词卡片的位置
            let word_position = word.getBoundingClientRect();

            word.addEventListener('click', function () {
                // 获取单词的长和宽
                let word_width = word_position.width;
                let word_height = word_position.height;
                let card_left = word_position.left - article_position.left + word_width / 2 - 225 + 'px';
                let card_top = word_position.top - article_position.top + word_height + 10 + 'px';
                word_card.style.left = card_left;
                word_card.style.top = card_top;
                // ajax 请求单词的意思
                let word = this.innerText;
                fetch(`/translate/${word}/`).then(function (response) {
                    return response.json();
                }).then(function (data) {
                    word_card.style.display = 'block';
                    word_card.querySelector('.card-header').innerHTML = `
                        <div>${word}</div>
                        <div class="pronunciation d-flex">
                            <span class="fayin">美 <i class="iconfont icon-fayin"></i>
                                <audio class="hidden" src="http://dict.youdao.com/dictvoice?type=0&audio=${word}"></audio>
                            </span>
                            <span class="fayin">英 <i class="iconfont icon-fayin"></i>
                                <audio class="hidden" src="http://dict.youdao.com/dictvoice?type=1&audio=${word}"></audio>
                            </span>
                        </div>`;
                    let list_group = word_card.querySelector('.list-group');
                    list_group.innerHTML = '';
                    // 对data进行循环
                    data['entries'].forEach((element) => {
                        let li = document.createElement('li');
                        li.className = 'list-group-item';
                        li.innerHTML = `<div class="web-word">${element['entry']}</div>
                                        <div>${element['explain']}</div>`;
                        list_group.appendChild(li);
                    })
                }).then(() => {
                    // 点击按钮发音
                    let fayin_buttons = document.querySelectorAll('.fayin');
                    fayin_buttons.forEach(function (button) {
                        button.addEventListener('click', function () {
                            let audio = this.querySelector('audio');
                            audio.play();
                        })
                    })
                })
            })
        })

        // 鼠标移除单词卡片，隐藏单词卡片
        word_card.addEventListener('mouseleave', function () {
            word_card.style.display = 'none';
        })
    </script>
{% endblock %}