{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ today|date:"Y-m-d" }}</title>
{% endblock %}
{% block css_file %}
    <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_4056627_pguw2l3vp0b.css">
    <link rel="stylesheet" href="{% static 'css/ebbinghaus/word_table.css' %}">
{% endblock %}
{% block js_file %}
    <script src="{% static 'js/ebbinghaus.js' %}" defer></script>
{% endblock %}
{% block main %}
    <div class="container main">
        <div class="header-title">
            <h1 class="text-center">单词列表 - <span>艾宾浩斯抗遗忘</span></h1>
            <div class="float-end today">
                <span class="fst-italic">Date:</span>
                {{ today|date:"Y-m-d" }}
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row table-header">
            <div class="col-6">
                <div class="row">
                    <div class="col-1 fst-italic">No.</div>
                    <div class="col-4 fst-italic">Word</div>
                    <div class="col-7 fst-italic">Meaning</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12 text-center">Review</div>
                    <div class="col">D1</div>
                    <div class="col">D2</div>
                    <div class="col">D4</div>
                    <div class="col">D7</div>
                    <div class="col">D15</div>
                    <div class="col">D30</div>
                    <div class="col">D60</div>
                    <div class="col">D90</div>
                    <div class="col">180</div>
                    <div class="col">忘记</div>
                    <div class="col">美音</div>
                    <div class="col">英音</div>
                </div>
            </div>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="table-body">
                {% for word in words %}
                    <div class="row h-100">
                        <div class="col-6">
                            <div class="row h-100">
                                <div class="col-1 num">{{ forloop.counter }}</div>
                                <div class="col-4 word">{{ word.word }}</div>
                                <div class="col-7 meaning">{{ word.meaning|safe }}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row h-100">
                                {% for review_time in word.get_review_times %}
                                    <div class="col h-100">
                                        <div class="check-learn h-100">
                                            {% if review_time %}
                                                <input type="checkbox" {% if review_time %}checked{% endif %} disabled class="form-check-input">
                                            {% else %}
                                                <input type="checkbox" name="{{ word.word }}" value="{{ forloop.counter }}" class="form-check-input">
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}

                                <div class="col h-100">
                                    <div class="check-learn">
                                        <input type="checkbox" name="{{ word.word }}" value="forget" class="form-check-input">
                                    </div>
                                </div>
                                <div class="col h-100">
                                    <div class="check-learn">
                                        <i class="iconfont icon-fayin"></i>
                                        <audio class="hidden" src="http://dict.youdao.com/dictvoice?type=0&audio={{ word.word }}"></audio>
                                    </div>
                                </div>
                                <div class="col h-100">
                                    <div class="check-learn">
                                        <i class="iconfont icon-fayin"></i>
                                        <audio class="hidden" src="http://dict.youdao.com/dictvoice?type=1&audio={{ word.word }}"></audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <div class="submit position-relative">
            <input type="submit" class="btn btn-info position-absolute">
        </div>
        </form>
    </div>
    <script>
    // 点击提交按钮时，复制所有单词到剪贴板
    let sumit_button = document.querySelector('.submit input');
    sumit_button.addEventListener('click', function () {
        let words = document.querySelectorAll('.word');
        let words_str = '';
        for (let i = 0; i < words.length; i++) {
            words_str += words[i].innerText + ', ';
        }
        navigator.clipboard.writeText(words_str);
        window.open('https://chat.openai.com/')
    });
    </script>
{% endblock %}